@font-face {
  font-family: "iconfont";
  src: url("/style/iconfont/iconfont.eot"); /* IE9*/
  src: url("/style/iconfont/iconfont.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/style/iconfont/iconfont.woff2") format("woff2"),
    /* chrome、firefox、opera、Safari, Android, iOS */ url("iconfont.woff")
      format("woff"),
    /* chrome、firefox */ url("/style/iconfont/iconfont.ttf") format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("/style/iconfont/iconfont.svg#uxiconfont") format("svg"); /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e69a";
}

.icon-qqkongjian:before {
  content: "\e80f";
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-dangdi:before {
  content: "\e6d7";
}

.icon-zuirehotxiankuang:before {
  content: "\e837";
}

.icon-douban:before {
  content: "\e64d";
}

.icon-github:before {
  content: "\e718";
}

.icon-weixin:before {
  content: "\e62b";
}

.icon-google:before {
  content: "\e692";
}

.icon-weibo:before {
  content: "\e608";
}

.icon-time-circle:before {
  content: "\e784";
}

.icon-eye1:before {
  content: "\e78f";
}

.icon-folder:before {
  content: "\e7d1";
}

.icon-tag1:before {
  content: "\e7e4";
}

.icon-share:before {
  content: "\e7e7";
}

.icon-right:before {
  content: "\e7eb";
}

.icon-left:before {
  content: "\e7ec";
}

.icon-arrowup:before {
  content: "\e7ee";
}

.icon-menu:before {
  content: "\e7f4";
}

.icon-alipay:before {
  content: "\e87c";
}

.icon-zhihu:before {
  content: "\e87d";
}

.icon-facebook:before {
  content: "\e87e";
}

.icon-instagram:before {
  content: "\e87f";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-twitter:before {
  content: "\e883";
}

.icon-icon-test:before {
  content: "\e673";
}

.icon-icon-test1:before {
  content: "\e676";
}

.icon-rss:before {
  content: "\e6bb";
}

.icon-menu-:before {
  content: "\e600";
}
.icon-bangumi:before {
  content: "\e885";
}
.icon-cloudmusic:before {
  content: "\e884";
}

/* .icon-bangumi {
  width: 16px;
  height: 16px;

  content: "\e885";
} */
/* .icon-cloudmusic {
  width: 16px;
  height: 16px;
  content: "\e600";
} */
